extends layout

block scripts
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")

block content
    h1=title
    form(method='POST' action='')
        .form-group
            label(for='title') Title:
            input#title.form-control(type='text' placeholder='Name of Book' name='title' required='true' value=(book===undefined ? '': book.title))
        .form-group
            label(for='author') Author:
            input#title.form-control(type='text' placeholder='Author' rows="4" cols="50" name='author' required='true' value=(book===undefined ? '': book.author))
        .form-group
            label(for='story') The Story:
            hr
            textarea(id='textarea' name='story')
            hr
        button.btn.btn-primary(type='submit') Submit

        if errors
            ul
                for error in errors
                    li!= error.msg