extends layout

block scripts
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")

block content
    h1=title
    form(method='POST' action='')
        .form-group
            label(for='bookID') Book ID*:
            input#title.form-control(type='integer' placeholder='Book ID' rows="1" cols="50" name='bookID' required='true' value=(bug===undefined ? '': bug.bookID))
        .form-group
            label(for='sentenceIndex') Sentence Index*:
            input#title.form-control(type='integer' placeholder='Sentence Index' rows="1" cols="50" name='sentenceIndex' required='true' value=(bug===undefined ? '': bug.sentenceIndex))
        .form-group
            label(for='bookTitle') Title:
            input#title.form-control(type='text' placeholder='Name of bug' name='bookTitle' value=(bug===undefined ? '': bug.bookTitle))
        .form-group
            label(for='authorName') Author:
            input#title.form-control(type='text' placeholder='Author' rows="4" cols="50" name='authorName' value=(bug===undefined ? '': bug.authorName))
        .form-group
            label(for='text') Text:
            input#title.form-control(type='text' placeholder='Text' rows="1" cols="50" name='text' value=(bug===undefined ? '': bug.text))
        .form-group
            label(for='translation') Translation:
            input#title.form-control(type='text' placeholder='Translation' rows="1" cols="50" name='translation' value=(bug===undefined ? '': bug.translation))

        button.btn.btn-primary(type='submit') Submit

        if errors
            ul
                for error in errors
                    li!= error.msg