extends layout

block content
    h1= title

    ul
        each user in user_list
            li
                a(href=`catalog/user/${user.id}`) #{user.name}
                |   - some stats and stuff
        else
            li There are no users.